h1{
    text-align: center;
    font-size: 70px;
    color:darkred;

}
.about{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-text{
    width: 50%;
    padding: 30px;
    font-size: 22px;
    text-align: center;
    background-color:brown;
    color: ghostwhite;
    height:920px ;
}
.about-text b{
    color: black;
}