/* hero.cs*/
*{
	margin: 0;
	padding: 0;
}
.hero{
	height: 600px;
	background: url('..front_image.jpg');
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hero h2{
	color: black;
	font-size: 120px;

}
.hero h1{
	color: black;
	font-size: 160px;
}
.hero h3{
	color: black;
	font-size: 50px;
}
